<main ng-show="show" ng-controller="ContentController as ctrl">
    <div class="container1">

        <image-wrapper image-source = "ctrl.imageSource" video-source='ctrl.videoSource'></image-wrapper>
        <div class="recepy">
            <h2 class="rcp_title" id="rcp_title">{{recipeTitle}}</h2>
            <h5>
                Category:
                <p class="category" id="category"> {{recipeCategory}}</p>
            </h5>
            <h5>
                Tags:
                <p class="tags" id="tags">{{recipeTags}}</p>
            </h5>
            <div class="img_wrapper_mob">
                <img class="img_mob" id="img_mob" src="{{imageSource}}" alt="Picture of meal" />
                <div class="overlay_mob">
                    <div class="content_mob">
                        <img class="play_button_mob" id="play_button_mob"  src="./images/play.png" ng-click="playVideo()" />
                    </div>
                </div>
            </div>
            <p class="rcp_text" id="rcp_text">{{recipeInstructions}}</p>
            <h4>Ingredients:</h4>
            <ul class="list" id="list"><li ng-repeat="ingredient in ingredients">{{ingredient}}</li></ul>
        </div>
    </div>
</main>